<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="container">
        <div class="details content">
            <h2><%= blog.title %></h2>
            <div class="content">
                <p><%= blog.body %></p>
            </div>
            <a class="delete" data-doc="<%= blog._id %>">delete</a>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
    <script>
        const trashc = document.querySelector('a.delete');
        trashc.addEventListener('click', (e) => {
            const id = trashc.dataset.doc;
            fetch(`/blogs/${id}`, {
                method: 'DELETE'
            }).then(res => res.json())
            .then(data => {
                window.location.href = data.redirect;
                console.log(data.redirect);
            })
            .catch(err => console.log(err));
        })
    </script>
</body>
</html>